# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0


source "Kconfig.zephyr"

mainmenu "Options"

config INIT_GPIO_LOG_LEVEL
	int "Module specific log level"
	default 4

config MAIN_LOG_LEVEL
	int "Module specific log level"
	default 4

config AUDIO_SERVICE_LOG_LEVEL
	int "Module specific log level"
	default 4