

&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi4_default>;
	pinctrl-1 = <&spi4_sleep>;
	pinctrl-names = "default", "sleep";
	// zephyr,pm-device-runtime-auto;
	//
	lora0: sx1262@0 {
		compatible = "semtech,sx1262";
		reg = <0>;
		reset-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
		dio1-gpios = <&gpio1 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        busy-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		// tx-enable-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
		// rx-enable-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
		// antenna-enable-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
		spi-max-frequency = <200000>;
		dio2-tx-enable;
		dio3-tcxo-voltage = <7>;
		tcxo-power-startup-delay-ms = <5>;
		status = "okay";
	};
};

&uart0 {
	current-speed = <921600>;
};

/ {
     aliases {
             lora0 = &lora0;
     };
};